{"filter":false,"title":".gitignore","tooltip":"/.gitignore","undoManager":{"mark":0,"position":0,"stack":[[{"start":{"row":5,"column":0},"end":{"row":6,"column":6},"action":"remove","lines":["static/","media/"],"id":10}]]},"ace":{"folds":[],"scrolltop":0,"scrollleft":0,"selection":{"start":{"row":5,"column":0},"end":{"row":5,"column":0},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":{"row":161,"mode":"ace/mode/ini"}},"timestamp":1571454361373,"hash":"5c736a8471d5a56df2a261eff1da6aede20d2dde"}