{"filter":false,"title":"requirements.txt","tooltip":"/requirements.txt","ace":{"folds":[],"scrolltop":0,"scrollleft":0,"selection":{"start":{"row":18,"column":15},"end":{"row":18,"column":15},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":0},"hash":"cbc08fc87270e58cbddb7fb4bb85e804a2dc1887","undoManager":{"mark":-1,"position":-1,"stack":[]},"timestamp":1569130422562}